<a href="https://colab.research.google.com/github/Research-method-group-3/Spaceship-Titanic/blob/bankole/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np 
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler
from matplotlib import pyplot as plt
from matplotlib import style

In [7]:
test_df = pd.read_csv("/content/test-2.csv")
train_df = pd.read_csv("/content/train.csv")

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [9]:
data = pd.read_csv('/content/train.csv')
Testdata = pd.read_csv('/content/test-2.csv')
#sample = pd.read_csv('/kaggle/input/spaceship-titanic/sample_submission.csv')
y= data['Transported'] #y = [int(val) for val in y]
ID= Testdata['PassengerId']
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [10]:
missing_values = data.isnull().sum()
missing_values2 = Testdata.isnull().sum()
missing_values, missing_values2

(PassengerId       0
 HomePlanet      201
 CryoSleep       217
 Cabin           199
 Destination     182
 Age             179
 VIP             203
 RoomService     181
 FoodCourt       183
 ShoppingMall    208
 Spa             183
 VRDeck          188
 Name            200
 Transported       0
 dtype: int64,
 PassengerId       0
 HomePlanet       87
 CryoSleep        93
 Cabin           100
 Destination      92
 Age              91
 VIP              93
 RoomService      82
 FoodCourt       106
 ShoppingMall     98
 Spa             101
 VRDeck           80
 Name             94
 dtype: int64)

In [12]:
data = data.drop(["Transported"], axis=1)

#drop useless columns
cols_to_drop = [ "PassengerId","Name"]
data = data.drop(cols_to_drop, axis=1)
Testdata = Testdata.drop(cols_to_drop, axis=1)

In [11]:
data['HomePlanet'].value_counts()

Earth     4602
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [13]:
data['CryoSleep'].describe()

count      8476
unique        2
top       False
freq       5439
Name: CryoSleep, dtype: object

In [14]:
categorical_data = data.select_dtypes(include='object')
data = data.drop(categorical_data.columns, axis=1)
categorical_data

     HomePlanet CryoSleep     Cabin    Destination    VIP
0        Europa     False     B/0/P    TRAPPIST-1e  False
1         Earth     False     F/0/S    TRAPPIST-1e  False
2        Europa     False     A/0/S    TRAPPIST-1e   True
3        Europa     False     A/0/S    TRAPPIST-1e  False
4         Earth     False     F/1/S    TRAPPIST-1e  False
...         ...       ...       ...            ...    ...
8688     Europa     False    A/98/P    55 Cancri e   True
8689      Earth      True  G/1499/S  PSO J318.5-22  False
8690      Earth     False  G/1500/S    TRAPPIST-1e  False
8691     Europa     False   E/608/S    55 Cancri e  False
8692     Europa     False   E/608/S    TRAPPIST-1e  False

[8693 rows x 5 columns]

In [15]:
data

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0     39.0          0.0        0.0           0.0     0.0     0.0
1     24.0        109.0        9.0          25.0   549.0    44.0
2     58.0         43.0     3576.0           0.0  6715.0    49.0
3     33.0          0.0     1283.0         371.0  3329.0   193.0
4     16.0        303.0       70.0         151.0   565.0     2.0
...    ...          ...        ...           ...     ...     ...
8688  41.0          0.0     6819.0           0.0  1643.0    74.0
8689  18.0          0.0        0.0           0.0     0.0     0.0
8690  26.0          0.0        0.0        1872.0     1.0     0.0
8691  32.0          0.0     1049.0           0.0   353.0  3235.0
8692  44.0        126.0     4688.0           0.0     0.0    12.0

[8693 rows x 6 columns]

In [16]:
data.isnull().sum()

Age             179
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
dtype: int64

In [17]:
# filling missing numerical data with mean/median
# Calculate the skewness of each numeric column
skewness = data.select_dtypes(include=np.number).apply(lambda x: x.skew())

# Fill missing numerical data with mean/median
for col, skew in skewness.items():
    if skew > 1.0 or skew < -1.0:
        fill_value = data[col].median()
        fill_method = 'median'
        print(f"Using median for {col}")
    else:
        fill_value = data[col].mean()
        fill_method = 'mean'
        print(f"Using mean for {col}")
    
    # Fill missing values in the specific column
    data[col].fillna(fill_value, inplace=True)

# Print the updated data
print(data)

Using mean for Age
Using median for RoomService
Using median for FoodCourt
Using median for ShoppingMall
Using median for Spa
Using median for VRDeck
       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0     39.0          0.0        0.0           0.0     0.0     0.0
1     24.0        109.0        9.0          25.0   549.0    44.0
2     58.0         43.0     3576.0           0.0  6715.0    49.0
3     33.0          0.0     1283.0         371.0  3329.0   193.0
4     16.0        303.0       70.0         151.0   565.0     2.0
...    ...          ...        ...           ...     ...     ...
8688  41.0          0.0     6819.0           0.0  1643.0    74.0
8689  18.0          0.0        0.0           0.0     0.0     0.0
8690  26.0          0.0        0.0        1872.0     1.0     0.0
8691  32.0          0.0     1049.0           0.0   353.0  3235.0
8692  44.0        126.0     4688.0           0.0     0.0    12.0

[8693 rows x 6 columns]

In [18]:
data.isnull().sum()

Age             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

In [19]:
data

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0     39.0          0.0        0.0           0.0     0.0     0.0
1     24.0        109.0        9.0          25.0   549.0    44.0
2     58.0         43.0     3576.0           0.0  6715.0    49.0
3     33.0          0.0     1283.0         371.0  3329.0   193.0
4     16.0        303.0       70.0         151.0   565.0     2.0
...    ...          ...        ...           ...     ...     ...
8688  41.0          0.0     6819.0           0.0  1643.0    74.0
8689  18.0          0.0        0.0           0.0     0.0     0.0
8690  26.0          0.0        0.0        1872.0     1.0     0.0
8691  32.0          0.0     1049.0           0.0   353.0  3235.0
8692  44.0        126.0     4688.0           0.0     0.0    12.0

[8693 rows x 6 columns]

In [20]:
# StandardScaler 
scaler = StandardScaler()
# Fit the scaler to your data
scaled_data = scaler.fit_transform(data)
#data = pd.DataFrame(scaled_array, columns=scaled_data.columns)

data[data.columns]=scaled_data
data[data.columns]

           Age  RoomService  FoodCourt  ShoppingMall       Spa    VRDeck
0     0.709437    -0.333105  -0.281027     -0.283579 -0.270626 -0.263003
1    -0.336717    -0.168073  -0.275387     -0.241771  0.217158 -0.224205
2     2.034566    -0.268001   1.959998     -0.283579  5.695623 -0.219796
3     0.290975    -0.333105   0.523010      0.336851  2.687176 -0.092818
4    -0.894666     0.125652  -0.237159     -0.031059  0.231374 -0.261240
...        ...          ...        ...           ...       ...       ...
8688  0.848924    -0.333105   3.992336     -0.283579  1.189173 -0.197751
8689 -0.755179    -0.333105  -0.281027     -0.283579 -0.270626 -0.263003
8690 -0.197230    -0.333105  -0.281027      2.846999 -0.269737 -0.263003
8691  0.221232    -0.333105   0.376365     -0.283579  0.043013  2.589576
8692  1.058155    -0.142335   2.656871     -0.283579 -0.270626 -0.252422

[8693 rows x 6 columns]

In [21]:
categorical_data.columns

Index(['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP'], dtype='object')

In [22]:
categorical_data['Cabin']

0          B/0/P
1          F/0/S
2          A/0/S
3          A/0/S
4          F/1/S
          ...
8688      A/98/P
8689    G/1499/S
8690    G/1500/S
8691     E/608/S
8692     E/608/S
Name: Cabin, Length: 8693, dtype: object

In [23]:
categorical_data['Cabin'].describe()

count        8494
unique       6560
top       G/734/S
freq            8
Name: Cabin, dtype: object

In [24]:
import re

def groupingCabines():
    cabin_values = []
    for i in categorical_data['Cabin']:
        if isinstance(i, str):  # Check if value is a string
            k1 = 0
            k2 = len(i)
            while k1 < k2:
                if re.search(r'^[a-zA-Z]', i[k1]):
                    cabin_values.append(i[k1].upper())
                    break
                else:
                    k1 += 1
        else:
            cabin_values.append('U')
    return cabin_values

cabin_values = groupingCabines()
cabin_df = pd.DataFrame({'Cabin': cabin_values})
categorical_data['Cabin'] = cabin_df['Cabin']
categorical_data['Cabin'].unique()

array(['B', 'F', 'A', 'G', 'U', 'E', 'D', 'C', 'T'], dtype=object)

In [25]:
categorical_data['Destination'].unique()

array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', nan], dtype=object)

In [26]:
#to fill missing values
# Calculate the percentages of unique values for each categorical column
percentages = categorical_data.apply(lambda col: col.value_counts() / col.value_counts().sum())

# Identify missing values in the categorical columns
missing_mask = categorical_data.isnull()

# Fill missing values based on the percentages of unique values
for featureName in categorical_data.columns:
    missing_count = missing_mask[featureName].sum()
    unique_values = categorical_data[featureName].value_counts().index
    fill_values = np.random.choice(unique_values, size=missing_count, replace=True, p=percentages[featureName].reindex(unique_values, fill_value=0))
    categorical_data.loc[missing_mask[featureName], featureName] = fill_values

# Verify the updated categorical_data DataFrame
print(categorical_data)
print(categorical_data.isnull().sum())

     HomePlanet CryoSleep Cabin    Destination    VIP
0        Europa     False     B    TRAPPIST-1e  False
1         Earth     False     F    TRAPPIST-1e  False
2        Europa     False     A    TRAPPIST-1e   True
3        Europa     False     A    TRAPPIST-1e  False
4         Earth     False     F    TRAPPIST-1e  False
...         ...       ...   ...            ...    ...
8688     Europa     False     A    55 Cancri e   True
8689      Earth      True     G  PSO J318.5-22  False
8690      Earth     False     G    TRAPPIST-1e  False
8691     Europa     False     E    55 Cancri e  False
8692     Europa     False     E    TRAPPIST-1e  False

[8693 rows x 5 columns]
HomePlanet     0
CryoSleep      0
Cabin          0
Destination    0
VIP            0
dtype: int64

In [27]:
categorical_data = pd.get_dummies(categorical_data)

# Print the encoded data
print(categorical_data)

      HomePlanet_Earth  HomePlanet_Europa  HomePlanet_Mars  CryoSleep_False  \
0                    0                  1                0                1
1                    1                  0                0                1
2                    0                  1                0                1
3                    0                  1                0                1
4                    1                  0                0                1
...                ...                ...              ...              ...
8688                 0                  1                0                1
8689                 1                  0                0                0
8690                 1                  0                0                1
8691                 0                  1                0                1
8692                 0                  1                0                1

      CryoSleep_True  Cabin_A  Cabin_B  Cabin_C  Cabin_D  Cabin_E  Cabin_F  \
0                  0        0        1        0        0        0        0
1                  0        0        0        0        0        0        1
2                  0        1        0        0        0        0        0
3                  0        1        0        0        0        0        0
4                  0        0        0        0        0        0        1
...              ...      ...      ...      ...      ...      ...      ...
8688               0        1        0        0        0        0        0
8689               1        0        0        0        0        0        0
8690               0        0        0        0        0        0        0
8691               0        0        0        0        0        1        0
8692               0        0        0        0        0        1        0

      Cabin_G  Cabin_T  Cabin_U  Destination_55 Cancri e  \
0           0        0        0                        0
1           0        0        0                        0
2           0        0        0                        0
3           0        0        0                        0
4           0        0        0                        0
...       ...      ...      ...                      ...
8688        0        0        0                        1
8689        1        0        0                        0
8690        1        0        0                        0
8691        0        0        0                        1
8692        0        0        0                        0

      Destination_PSO J318.5-22  Destination_TRAPPIST-1e  VIP_False  VIP_True
0                             0                        1          1         0
1                             0                        1          1         0
2                             0                        1          0         1
3                             0                        1          1         0
4                             0                        1          1         0
...                         ...                      ...        ...       ...
8688                          0                        0          0         1
8689                          1                        0          1         0
8690                          0                        1          1         0
8691                          0                        0          1         0
8692                          0                        1          1         0

[8693 rows x 19 columns]

In [28]:
categorical_data.describe()

,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,CryoSleep_True,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False,VIP_True
count,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000
mean,0.542160,0.249856,0.207983,0.640400,0.359600,0.029449,0.089612,0.085931,0.054987,0.100771,0.321408,0.294375,0.000575,0.022892,0.211895,0.093754,0.694352,0.976878,0.023122
std,0.498248,0.432955,0.405888,0.479911,0.479911,0.169071,0.285642,0.280279,0.227968,0.301042,0.467044,0.455787,0.023977,0.149568,0.408674,0.291502,0.460708,0.150300,0.150300
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
# Concatenate the data frames along the columns (axis=1)
X = pd.concat([data, categorical_data], axis=1)

In [30]:
X.isnull().sum()

Age                          0
RoomService                  0
FoodCourt                    0
ShoppingMall                 0
Spa                          0
VRDeck                       0
HomePlanet_Earth             0
HomePlanet_Europa            0
HomePlanet_Mars              0
CryoSleep_False              0
CryoSleep_True               0
Cabin_A                      0
Cabin_B                      0
Cabin_C                      0
Cabin_D                      0
Cabin_E                      0
Cabin_F                      0
Cabin_G                      0
Cabin_T                      0
Cabin_U                      0
Destination_55 Cancri e      0
Destination_PSO J318.5-22    0
Destination_TRAPPIST-1e      0
VIP_False                    0
VIP_True                     0
dtype: int64

In [31]:
correlation_matrix = X.corr()
# Set a threshold for correlation values
threshold = 0.7

# Exclude correlation of value with itself
correlation_matrix = correlation_matrix.mask(np.triu(np.ones(correlation_matrix.shape)).astype(bool))

# Find the highly correlated values
highly_correlated = correlation_matrix.abs().stack().sort_values(ascending=False)
highly_correlated = highly_correlated[highly_correlated > threshold]

# Display the highly correlated values
print(highly_correlated)

VIP_True                 VIP_False                  1.000000
CryoSleep_True           CryoSleep_False            1.000000
Destination_TRAPPIST-1e  Destination_55 Cancri e    0.781532
dtype: float64

In [32]:
#Now our data is ready & clean for predictions
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [33]:
#Decision Tree
#define DecisionTree model
my_tree= DecisionTreeRegressor()
# Define the SVM model
my_svm = SVC(random_state=1)
#Random Forest Classifier
myRandomForest = RandomForestRegressor(random_state=1)
#Gradient Boosting Classifier:
my_Gradientmodel = GradientBoostingClassifier(random_state=1)

#fit model
my_tree.fit(train_X,train_y)
my_svm.fit(train_X, train_y)
myRandomForest.fit(train_X,train_y)
my_Gradientmodel.fit(train_X, train_y)

#get prediction for validation data
val_prediction1= my_tree.predict(val_X)
val_prediction2= my_svm.predict(val_X)
val_prediction3= myRandomForest.predict(val_X)
val_prediction4= my_Gradientmodel.predict(val_X)

In [34]:
val_prediction1 = [round(value) for value in val_prediction1]
#val_prediction1 = [bool(val) for val in val_prediction1]
print(val_prediction1)

# Calculate accuracy
accuracy = accuracy_score(val_y, val_prediction1)
print("Accuracy:", accuracy)

[0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1]
Accuracy: 0.7309107635694572

In [35]:
print(val_prediction2)

# Calculate accuracy
accuracy = accuracy_score(val_y, val_prediction2)
print("Accuracy:", accuracy)

[False  True False ...  True  True  True]
Accuracy: 0.7833486660533578

In [36]:
val_prediction3 = [round(value) for value in val_prediction3]
val_prediction3 = [bool(val) for val in val_prediction3]

# Calculate accuracy
val_prediction3 = [round(value) for value in val_prediction3]
accuracy = accuracy_score(val_y, val_prediction3)
print("Accuracy:", accuracy)

Accuracy: 0.7824287028518859

In [37]:
print(val_prediction4)

# Calculate accuracy
accuracy = accuracy_score(val_y, val_prediction4)
print("Accuracy:", accuracy)

[False  True False ...  True  True  True]
Accuracy: 0.7939282428702852

In [38]:
#deep learning, Multi-Layer Perceptron (MLP)
# Normalize the input features
scaler = MinMaxScaler()
train_X_scaled = scaler.fit_transform(train_X)
val_X_scaled = scaler.transform(val_X)

# Define and train the MLP model
mlp_model = MLPClassifier(hidden_layer_sizes=(100, 100), activation='relu', random_state=1, max_iter=500)

mlp_model.fit(train_X_scaled, train_y)

# Make predictions
predictions = mlp_model.predict(val_X_scaled)

# Calculate accuracy
accuracy = accuracy_score(val_y, predictions)
print("Accuracy:", accuracy)
print(predictions)

Accuracy: 0.7916283348666053
[False  True False ...  True  True  True]